*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 height: 100vh;
 width: 100vw;
 overflow-x: hidden;
}
.navbar,.navbar-brand{
    cursor: pointer;
    background-color: rgb(58 79 39);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color:white !important;
}
.nav-item,.nav-link{
    padding:10px 10px 10px 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: white !important;
}
.nav-link:hover{
    color: yellow !important;
    transition: all 0.5s;
}
.nav-link:active{
    color: yellow !important;
}
.btn{
    background-color: white !important;
}
.btn:hover{
    background-color: green !important;
}
.new{
    margin: 100px 0 50px 0;
}
.png-item{
    height:60vh;
    width: 100vw;
}
.png{
    object-fit: cover;
    height: 100%;
    width:100%;
}
.basic{
    font-size: 40px;
    color: rgb(58 79 39);
    margin:0px 0 100px 0;
}

.phinma h6{
 color: rgb(58 78 39);
 font-size: 20px;
}
.program{
    margin:100px 0 50px 20px;
    color: rgb(58 78 39);
    font-size: 30px;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}
.basic-education{
    margin:20px 0 30px 30px;
    color: rgb(58 78 39);
    font-size: 30px;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}
.graduate-school{
    margin:50px 0 50px 20px;
    color: rgb(58 78 39);
    font-size: 30px;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}
.ngek{
    list-style: none;
    padding: 10px 10px 10px 10px;
}
.section3{
    margin-top: 100px;
    background-color:rgb(128 128 128 );
    padding: 30px 30px 30px 30px;
    color: white !important;
    margin: 0;
}
.section4{
    padding: 20px 20px 20px 20px;
    background-color: black;
    color: white;
}
