*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.navbar,.navbar-brand{
    cursor: pointer;
    background-color: rgb(58 79 39);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color:white !important;
}
.nav-item,.nav-link{
    padding:10px 10px 10px 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: white !important;
}
.nav-link:hover{
    color: yellow !important;
    transition: all 0.5s;
}
.nav-link:active{
    color: yellow !important;
}
.btn{
    background-color: white !important;
}
.btn:hover{
    background-color: green !important;
}
.btn1{
    margin: 30px;
    border: 1px solid black;
    height: 300px;
    width: 300px;
}
.picture{
    height: 80vh;
    width: 100v;
}
.pictures{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.seksyon{
    margin: 100px 0 100px 0;
}
.ngek{
    list-style: none;
    padding: 10px 10px 10px 10px;
}
.section3{
    margin-top: 100px;
    background-color:rgb(128 128 128 );
    padding: 30px 30px 30px 30px;
    color: white !important;
}
.section4{
    padding: 20px 20px 20px 20px;
    background-color: black;
    color: white;
}
.scholarship{
    margin-bottom: 30px;
    font-size: 40px;
    color:rgb(58 79 39);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(58 78 39);
}
#scholarship{
    line-height: 30px;
    margin-bottom: 50px;
}
.Check{
    margin-bottom: 40px;
}