*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 height: 100vh;
 width: 100vw;
}
.navbar,.navbar-brand{
    cursor: pointer;
    background-color: rgb(58 79 39);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color:white !important;
}
.nav-item,.nav-link{
    padding:10px 10px 10px 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: white !important;
}
.nav-link:hover{
    color: yellow !important;
    transition: all 0.5s;
}
.nav-link:active{
    color: yellow !important;
}
.btn{
    background-color: white !important;
}
.btn:hover{
    background-color: green !important;
}
.section1{
margin-top: 100px;
}
.img7{
    
    height: 100vh;
    width: 100vw;
}
.img8{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.new{
    margin-top: 100px;
}
#h5{
    font-size: 50px;
    color:rgb(58 79 39);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(58 78 39);
}
.adds{
    line-height: 40px;
}
#Official{
    margin-top: 250px;
    font-size: 50px;
    color:rgb(58 79 39);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(58 78 39);
}
.Requirements{
    margin: 60px 0 40px 0;
    font-size: 30px;
    color:rgb(58 79 39);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(58 78 39);
} 
ol li{
    margin:10px 0 40px 0;
    font-size: 20px;
}
.Hk{
    font-size: 30px;
    margin:40px 50px;
}
.Marketing{
    margin: 30px 0 40px 20px;
    font-size: 25px;
}
.step1{
  margin: 10px 200px 0 0;
  font-size: 30px;
}
.transfer{
    font-size:40px;
    margin:80px 0 0 0;
    color: rgb(58 78 39);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(58 78 39);
}
.Location{
    font-size: 20px;
    margin-bottom: 50px ;
}
.ngek{
    list-style: none;
    padding: 10px 10px 10px 10px;
}
.section3{
    background-color:rgb(128 128 128 );
    padding: 30px 30px 30px 30px;
    color: white !important;
}
.section4{
    padding: 20px 20px 20px 20px;
    background-color: black;
    color: white;
}